@import '../../global.scss';

.header {
    align-items: flex-start;
    background: $header-background;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 52px 120px 44px;

    @media (max-width: $breakpoint-phone) {
        gap: 0;
        padding: 52px 30px 44px;
        width: 100vw;
    }
}

.content {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    width: inherit;

    @media (max-width: $breakpoint-tablet) {
        align-self: center;
        flex-direction: column;
        justify-content: center;
    }

    @media (max-width: $breakpoint-phone) {
        padding: 0 30px;
    }
}

.navigation {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo {
    text-decoration: none;
}

.navbar {
    align-items: center;
    display: flex;
    gap: 32px;
}

.navitem {
    align-items: center;
    color: $very-dark-grey;
    display: flex;
    font-family: $medium-font;
    font-size: 20px;
    height: 24px;
    text-align: center;
    text-decoration: none;
    width: auto;
}

.active {
    background-color: $very-dark-grey;
    border-radius: 24px;
    color: $white;
    padding: 6px 16px;
}

.inlineNavigation {
    display: block;

    @media (max-width: $breakpoint-tablet) {
        display: none;
    }
}

.dropdown {
    border-bottom: 2px solid $black;
    border-right: 2px solid $black;
    display: none;
    height: 12px;
    margin-bottom: 12px;
    margin-right: 12px;
    transform: rotate(45deg);
    width: 12px;

    @media (max-width: $breakpoint-tablet) {
        display: block;
    }
}

.dropup {
    border-left: 2px solid $black;
    border-top: 2px solid $black;
    display: none;
    height: 12px;
    width: 12px;
    margin-bottom: 12px;
    margin-right: 12px;
    transform: rotate(45deg);

    @media (max-width: $breakpoint-tablet) {
        display: block;
    }
}

.dropdownNavigation {
    display: none;
    width: 100%;

    .menu {
        display: flex;
        flex-direction: column;
        width: 100%;

        .dropdownItem {
            color: $black;
            background: transparent;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            padding: 5px 10px;
            white-space: nowrap;
            width: 100%;
        }
    }

    .hidden {
        display: none;
    }

    @media (max-width: $breakpoint-tablet) {
        display: block;
    }
}
