@import '../../../../../global.scss';

.spotlight {
    display: flex;
    flex-direction: row;

    @media (max-width: $breakpoint-tablet) {
        flex-wrap: wrap;
    }

    .featured {
        display: flex;
        min-width: 350px;
        width: 50%;

        @media (max-width: $breakpoint-tablet) {
            margin-bottom: 24px;
            width: 100%;
        }
    }

    .articles {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-right: 24px;
        min-width: 200px;
        width: 25%;

        @media (max-width: $breakpoint-tablet) {
            width: calc(50% - 24px);
        }

        @media (max-width: $breakpoint-phone) {
            margin-bottom: 24px;
            width: 100%
        }
    }

    .audio {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: 24px;
        min-width: 200px;
        width: 25%;

        @media (max-width: $breakpoint-tablet) {
            width: calc(50% - 24px);
        }

        @media (max-width: $breakpoint-phone) {
            margin: 0;
            width: 100%
        }
    }

    h3,
    h4 {
        color: $very-dark-grey;
    }

    p {
        color: $grey;
        font-family: $normal-font;
        letter-spacing: -0.4px;
    }
}

@mixin separator {
    background-color: $very-light-grey;
    height: 100%;
    width: 1px;
    margin: 0 24px;
}

.featureSeparator {
    @include separator;

    @media (max-width: $breakpoint-tablet) {
        margin: 0;
        width: 0;
    }
}

.articleSeparator {
    @include separator;

    @media (max-width: $breakpoint-phone) {
        margin: 0;
        width: 0
    }
}
